name = "fuelprices"
type = "javascript"
zone_id = ""
account_id = ""
route = ""
workers_dev = true
compatibility_date = "2022-03-12"

kv_namespaces = [
    { binding = "FUELPRICES", id = "", preview_id = ""}
]

[build]
command = "npm install && npm run build"
[build.upload]
format = "service-worker"

[env.production]
kv_namespaces = [
    { binding = "FUELPRICES", id = "PROD_KV_ID" }
]
route = "fuelprices.bjarke.xyz/*"