
# Server settings:
PORT="8080"

# Database settings:
DB_HOST=localhost
DB_PORT=5432
DB_NAME=rasende2
DB_USER=user
DB_PASSWORD=password

# Redis settings
REDIS_HOST="localhost"
REDIS_PORT="6379"
REDIS_USER="default"
REDIS_PASSWORD='PASSWORD'
REDIS_PREFIX="RASENDE2"

JOB_KEY=0000

# Environment
APP_ENV=development # or production